/* hiding scroll bar */
body::-webkit-scrollbar{
    display: none;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

.navbar {
    height: 5rem;
    background-color: #fff;
}

.navbar-collapse {
    background-color: #fff !important;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

/* Footer */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-info-socials i {
    margin-right: 1rem;
    height: 1.2rem;
}

.f-info {
    height: 8rem;
    display: flex;
    flex-wrap: wrap;
    background-color: #ebebeb;
    /* text-align: center;
    justify-content: center;
    align-items: space-evenly; */
}

.listing-card {
    border: none !important;
    margin-bottom: 2rem !important;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0px !important;
}

.card-text p {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: #fff;
}

/* New Page */
.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* Edit Page */
.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* Show Page */
.show-img {
    /* height: 40vh; */
    height: 22rem;

}

.btns {
    display: flex;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

/* Map */

#map {
    height: 400px;
    width: 100%;
}

/* Navbar search */

.search-btn {
    background-color: #fe424d !important;
    color: #fff !important;
    border-radius: 25px !important;
    padding: 0 1rem 0 1rem !important;
    font-size: 0.9rem !important;
    cursor: pointer !important;
}

.search-btn:hover {
    background-color: #fe424d !important;
    color: #fff !important;
    cursor: pointer !important;
}

.search-btn i {
    display: inline !important;
    margin-right: 0.5rem !important;
    font-size: 0.9rem !important;
}

.search-bar {
    border-radius: 25px !important;
    padding: 0.5rem 3rem 0.5rem 3rem !important; 
    font-size: 0.9rem !important;
}


/* Main page icons */

#filters {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
}

.icons-container{
    display: flex;
    align-items: center;
    width: 72%;
}
.icons{
    display: flex;
    /* align-items: center; */
    overflow-x: scroll;
    /* width: 72%; */
}

.icons::-webkit-scrollbar{
    display: none;
}

.filter {
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.8;
}

.filter:hover {
    opacity: 1;
    cursor: pointer;
}

.filter p {
    font-size: 0.8rem;
}

.tax-info {
    display: none;
}

.tax-toggle {
    border: 1px solid rgb(192, 184, 184);
    border-radius: 1rem;
    height: 3.25rem;
    /* width: 16rem;  */
    padding: 1rem;
    margin-left: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex: 1;  */
    /* box-sizing: content-box; */

}
.fa-chevron-left {
    margin-right: 10px;
    cursor: pointer;
}
.fa-chevron-right{
    margin-left: 10px;
    cursor: pointer;
}

@media screen and (max-width:1200px) {
    .icons-container{
        width: 65%;
    }
}

@media screen and (max-width:992px) {
    .icons-container{
        width: 55%;
    }
}

@media screen and (max-width:766px) {
    #filters{
        flex-wrap: wrap;
    }
    .icons-container{
        width: 100%;
    }
    .tax-toggle {
        text-align: center;
        margin-left: 0;
        width: 100%;
        
    }
}

/* Show image */
@media (max-width: 992px) {
    .show-img {
        height: 20rem; 
    }
}
@media (max-width: 766px) {
    .show-img {
        height: 18rem; 
    }
}

@media (max-width: 576px) {
    .show-img {
        height: 15rem; 
    }
}

@media (max-width: 376px) {
    .show-img {
        height: 13rem; 
    }
}